@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif,
    sans-serif;
    color: white;
    min-height: 100vh;
    background: linear-gradient(#4AC29A, #BDFFF3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 90%;
    margin: 0 auto;
}
.piano{
    margin: 2rem auto;
    display: flex;
    padding: 2rem 4rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 8px black;
    background: linear-gradient(#0F2027, #203A43,#2c5364);
}
.key{
    height: calc(var(--width)*4);
    width: var(--width);
    border: 1px solid #333;
    box-shadow: 2px 2px 4px #203A43;
    cursor: pointer;
}
.white{
    --width: 80px;
    background: white;
}
.white.active {
    background-color: #CCC;
}
.black{
    --width: 44px;
    background:black;
    margin: 0 calc(var(--width)/-2);
    z-index: 1;
}
.black.active {
    background-color: #333;
}
.twinkle{
    background: rgb(70, 87, 243);
    color: white;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 0.5rem;
    margin: 0rem auto 1rem;
    transition: all 0.2s ease-in;
    box-shadow: 2px 2px 4px #203A43;
}
.twinkle:hover{
    color: rgb(70, 87, 243);
    background: white;
}
.instruction{
    padding: 2vw;
    background: rgba(255, 255, 255, 0.452);
    color: black;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px #203A43;
}
@media screen and (max-width: 750px) {
    .piano{
        padding: 3vw 6vw;
    }
    .white{
        --width: 11vw;
    }
    .black{
        --width: 5.5vw;
    }
    
}